<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Vakcina hozzáadás</h2>
    <form>
        <div class="form-group">
            <label>Gyártó:</label>
            <input class="form-control" placeholder="Adja meg a vakcina gyártóját">
            <label>Generáció:</label>
            <input class="form-control" placeholder="Adja meg a vakcina generációját">
            <label>Darabszám:</label>
            <input class="form-control" placeholder="Adja meg a vakcina darabszámát">
        </div>
        <a href="/vaccine/10/new" class="btn btn__color">Hozzáadás</a>
        <a href="/vaccine/10" class="btn btn__color">Vissza</a>
    </form>
</div>
<%- include('footer') -%>