<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Vakcina hozzáadás</h2>
    <form method="POST">
        <div class="form-group">
            <label>Gyártó:</label>
            <input class="form-control" placeholder="Adja meg a vakcina gyártóját" name="gyarto">
            <label>Generáció:</label>
            <input class="form-control" placeholder="Adja meg a vakcina generációját" name="generacio">
            <label>Darabszám:</label>
            <input class="form-control" placeholder="Adja meg a vakcina darabszámát" name="darabszam">
        </div>
        <button type="submit" class="btn btn__color">Hozzáadás</button>
        <button href="/vaccine/<%= oltopont._id %>" class="btn btn__color">Vissza</button>
    </form>
</div>
<%- include('footer') -%>