<%- include("./head") %>
<%- include('./navigation_logout') %>
<div class="container">
    <h2>Bejelentkezés</h2>
    <form>
        <div class="form-group">
            <label>Jelszó</label>
            <input type="password" class="form-control" placeholder="Jelszó">
        </div>
        <a href="/vaccinationpoint" class="btn btn__color">Bejelentkezés</a>
    </form>
</div>
<%- include('footer') %>