<%- include("./head") %>
<%- include('./navigation_logout') %>
<div class="container">
    <h2>Bejelentkezés</h2>
    <form method="POST">
        <div class="form-group">
            <label>Jelszó</label>
            <input type="password" class="form-control" placeholder="Jelszó" name="password">
        </div>
        <input type="submit" class="btn btn__color" value="Bejelentkezés" />
    </form>
</div>
<%- include('footer') %>