<%- include('head') -%>
<%- include('navigation_logout') -%>
<h2 style="margin: 1rem;">Oltópontok</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Cím</th>
            <th scope="col">Gyártó</th>
            <th scope="col">Darabszám</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9025 Győr 123. utca 13.</td>
            <td>Pfizer</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>8000 Székesfehérvár 321. utca 31.</td>
            <td>Pfizer</td>
            <td>5000</td>
        </tr>
    </tbody>
</table>
<%- include('footer') -%>