<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Vakcina számának növelése</h2>
    <form>
        <div class="form-group">
            <label>Darabszám:</label>
            <input class="form-control" placeholder="A megadott értékkel fog nőni a darabszám">
        </div>
        <a href="/vaccine/10" class="btn btn__color">Növelés</a>
        <a href="/vaccine/10" class="btn btn__color">Vissza</a>
    </form>
</div>
<%- include('footer') -%>