<%- include('head') -%>
<%- include('navigation') -%>
<h2>Vakcinák</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Gyártó</th>
            <th scope="col">Generáció</th>
            <th scope="col">Darabszám</th>
            <th scope="col"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pfizer</td>
            <td>1</td>
            <td>10000</td>
            <td>
              <a href="/vaccine/10/edit/12" class="btn btn__color" title="Vakcina módosítása"><i class='bx bx-edit'></i></a>
              <a href="/vaccine/10/delete/12" class="btn btn__color"><i class='bx bx-trash' title="Vakcina törlése"></i></a>
              <a href="/vaccine/10/increase/12" class="btn btn__color" title="Darabszám növelése"><i class='bx bx-plus-circle' ></i></a>
              <a href="/vaccine/10/decrease/12" class="btn btn__color" title="Darabszám csökkentése"><i class='bx bx-minus-circle' ></i></a>
            </td>
          </tr>
        </tbody>
    </table>
    <a href="/vaccine/10/new" class="btn btn__color">Hozzáadás</a>
    <a href="/vaccinationpoint" class="btn btn__color">Vissza</a>
<%- include('footer') -%>